<br>
<div class="camera-description">
  <br>
  <br>
    <div class="camera-image">
      <img src="\assets\description\1.jpeg" alt="Camera Image" />
    </div>
    <div class="camera-details">
      <h2>Experience Cutting-Edge Photography</h2>
      <p>
        Discover the latest cameras with state-of-the-art technology to elevate your photography skills. From DSLR to mirrorless cameras, we offer a wide range of options tailored to professionals and enthusiasts alike.
      </p>
      <ul>
        <li>High-resolution sensors for stunning detail</li>
        <li>Advanced autofocus for precision shooting</li>
        <li>Lightweight and durable designs</li>
        <li>Wide variety of lenses for every scenario</li>
      </ul>
      <button class="learn-more-button" routerLink="/guidefinal" routerLinkActive="active-link">Learn More</button>
    </div>
  </div>
  